ion-list.card-content {
    display: flex;
    background-color: var(--ion-color-primary);
}

ion-card-content {}

ion-col.remove-btn-col {
    display: flex;
    align-items: center;
}

.footer-grid {
    ion-col {
        ion-icon {
            font-size: 8px;
        }
    }
}