<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-title> Setup </ion-title>
            <ion-buttons slot="start">
                <ion-button (click)='home()'>
                    <ion-icon color='primary' slot="icon-only" name="home"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <!-- <ion-col size="12">
        <ion-button tooltip="I'm a beautiful tooltip" positionH="left" positionH="right" [arrow]="showArrow" [event]="tooltipEvent" [debounce]="debounce" [duration]="duration" fill="outline">View</ion-button>
    </ion-col> -->
    <ion-grid>


        <form [formGroup]="waitersForm" novalidate>
            <div formArrayName="waitersList">
                <ion-card [formGroupName]="i" *ngFor="let item of formData.controls; let i = index">
                    <ion-card-header>
                        <ion-row class='ion-text-center'>
                            <ion-col size="12" *ngIf='i === 0'>
                                <ion-card-title>
                                    <ion-item>
                                        <ion-label position="floating">Name</ion-label>
                                        <ion-input class='border' type="text" maxlength="50" formControlName="name">
                                        </ion-input>
                                    </ion-item>
                                </ion-card-title>
                            </ion-col>
                            <ion-col size="9" *ngIf='i != 0'>
                                <ion-card-title>
                                    <ion-item>
                                        <ion-label position="floating">Name</ion-label>
                                        <ion-input class='border' type="text" maxlength="50" formControlName="name">
                                        </ion-input>
                                    </ion-item>
                                </ion-card-title>
                            </ion-col>
                            <ion-col class='remove-btn-col' size="3" *ngIf='i != 0'>
                                <ion-button size="small" (click)="removeWaitersField(i)" color='danger' fill="outline">
                                    Remove
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-card-header>

                    <ion-card-content>
                        <ion-row class='ion-text-center'>
                            <ion-col size="6">
                                <ion-button *ngIf='!displayPoints[i]' (click)="presentAlertRadio(i)" fill="outline" shape="round">
                                    Points
                                </ion-button>

                                <ion-text color="dark">
                                    {{ displayPoints[i] }}
                                </ion-text>
                            </ion-col>

                            <ion-col size="6">
                                <ion-button *ngIf='!displayHours[i]' (click)="showPicker(i)" fill="outline" shape="round">
                                    Hours
                                </ion-button>
                                <ion-text color="dark">
                                    {{ displayHours[i] }}
                                </ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </div>
        </form>


    </ion-grid>

</ion-content>

<ion-footer>
    <ion-toolbar color='secondary'>
        <ion-grid class='footer-grid'>
            <ion-row>
                <ion-col size="2">
                    <ion-button size="small" (click)='home()'>
                        <ion-icon color='light' slot="icon-only" name="home"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col size="8">
                    <ion-button size="small" expand="block" (click)='submitWaiters()'>
                        <ion-text color="light">
                            Next
                        </ion-text>
                    </ion-button>
                </ion-col>
                <ion-col size='2'>
                    <ion-button size="small" (click)='addNewWaitersField()'>
                        <ion-icon color='light' slot="icon-only" name="add"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>