<ion-content>
  <ion-grid>
    <ion-slides #slides [options]="slideOpts" (ionSlideWillChange)="moveButton()">

      <ion-slide class='border'>
        <ion-row class='slide-row'>
          <ion-col size='12' class='slide-headers'>
            <ion-header>
              <ion-toolbar color='secondary'>
                <ion-text>Add Date</ion-text>
              </ion-toolbar>
            </ion-header>
          </ion-col>

          <ion-col size='12' class='slide-body'>
            <ion-img src="assets/shapes.svg"></ion-img>
          </ion-col>

          <ion-col size="12" class='slide-footer'>
            <ion-button expand="block" fill="solid" shape="round">
              Finish
            </ion-button>
            <ion-button (click)="selectedTab(0)" expand="block" fill="solid" shape="round">
              Back
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-slide>

      <ion-slide>
        <ion-row class='slide-row'>
          <ion-col size='12' class='slide-headers'>
            <ion-header>
              <ion-toolbar color='secondary'>
                <ion-text>Add Date</ion-text>
              </ion-toolbar>
            </ion-header>
          </ion-col>

          <ion-col size='12' class='slide-body'>
            body
          </ion-col>

          <ion-col size="12" class='slide-footer'>
            <ion-button expand="block" fill="solid" shape="round">
              Finish
            </ion-button>
            <ion-button (click)="selectedTab(0)" expand="block" fill="solid" shape="round">
              Back
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-slide>

      <ion-slide>
        <ion-row class='slide-row'>
          <ion-col size='12' class='slide-headers'>
            <ion-header>
              <ion-toolbar color='secondary'>
                <ion-text>Add Date</ion-text>
              </ion-toolbar>
            </ion-header>
          </ion-col>

          <ion-col size='12' class='slide-body'>
            body
          </ion-col>

          <ion-col size="12" class='slide-footer'>
            <ion-button expand="block" fill="solid" shape="round">
              Finish
            </ion-button>
            <ion-button (click)="selectedTab(0)" expand="block" fill="solid" shape="round">
              Back
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-slide>

    </ion-slides>
  </ion-grid>
</ion-content>
<!-- <ion-footer>
  <ion-grid>
    <ion-toolbar color='secondary'>
      <ion-row class='third-slide-row'>
        <ion-col size="12" class='third-slide-footer'>
          <ion-button expand="block" fill="solid" shape="round">
            Next
          </ion-button>
          <ion-button expand="block" fill="solid" shape="round">
            Back
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-grid>
</ion-footer> -->