.border {
  border: 1px solid black;
  border-radius: 20px;
}

ion-slides {
  //   background-color: red;

  ion-slide {
    border: 1px solid black;
    border-radius: 20px;
    ion-row {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      height: 99vh;
      width: 100%;
    }
    ion-row.slide-row {
      ion-col.slide-headers {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        // position: absolute;
        // top: 0;
        // height: 50px;
      }
      ion-col.slide-body {
        // display: -webkit-box;
        // display: flex;
        // -webkit-box-align: center;
        // align-items: center;
        // -webkit-box-pack: center;
        // justify-content: center;
        // background: blue;
        height: 71%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
      }
      ion-col.slide-footer {
        // background-color: yellow;
        // bottom: -40vh;
        // height: 25vh;
      }
    }
  }
}
