

<ion-content color='dark'>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-img [src]="logo"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="loginForm" novalidate>
    <ion-grid class='ion-padding'>
      <ion-row>
        <ion-col size='12' class='form-field'>
          <ion-input type="text" formControlName="identifier" placeholder="Username"></ion-input>
        </ion-col>
        <ion-col size='12' class='form-field'>
          <ion-input type="password" formControlName="password" placeholder="Password">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary" shape="round" expand="full" fill="outline" (click)='onSubmit()'>
            <ion-text color=" dark">
              <span class='ion-text-uppercase'>Enter</span>
            </ion-text>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="primary" shape="round" expand="full" fill="outline" (click)='skipAuth()'>
            <ion-text color=" dark">
              <span class='ion-text-uppercase'>Skip Auth</span>
            </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>