# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
*.xml
android/.idea/libraries/Gradle____local_aars___C__Users_RBento_Documents_GitHub_ionic5_tips_calculator_android_capacitor_cordova_android_plugins_src_main_libs_sqlite_native_driver_jar_unspecified_jar.xml
