<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
<ion-footer>

  <div class="phone">
    <input type="radio" name="s" id="s1">
    <input type="radio" name="s" id="s2" checked="checked">
    <input type="radio" name="s" id="s3">
    <label for="s1"><img src="http://co0kie.github.io/codepen/mobile-nav/facebook.svg" alt=""></label>
    <label for="s2"><img src="http://co0kie.github.io/codepen/mobile-nav/twitter.svg" alt=""></label>
    <label for="s3"><img src="http://co0kie.github.io/codepen/mobile-nav/instagram.svg" alt=""></label>
    <div class="circle"></div>
    <div class="phone_content">
      <div class="phone_bottom">
        <span class="indicator"></span>
      </div>
    </div>
  </div>

  
  <!-- <ion-toolbar color='warning'>
    <ion-button [ngClass]="{'activated' : active === 'tab1'}" (click)="navigate('tab1')" fill='outline'>
      <ion-icon name="add"></ion-icon>
      <ion-text>
        tab1
      </ion-text>
    </ion-button>
    <ion-button [ngClass]="{'activated' : active === 'tab2'}" (click)="navigate('tab2')" fill='outline'>
      <ion-icon name="add"></ion-icon>
      <ion-text>
        tab2
      </ion-text>
    </ion-button>
    <ion-button [ngClass]="{'activated' : active === 'tab3'}" (click)="navigate('tab3')" fill='outline'>
      <ion-icon slot="start" name="add"></ion-icon>
      <ion-text>
        tab3
      </ion-text>
    </ion-button>
    <ion-button [ngClass]="{'activated' : active === 'tab4'}" (click)="navigate('tab4')" fill='outline'>
      <ion-icon slot="start" name="add"></ion-icon>
      <ion-text>
        tab4
      </ion-text>
    </ion-button>
    <ion-button [ngClass]="{'activated' : active === 'tab5'}" (click)="navigate('tab5')" fill='outline'>
      <ion-icon slot="icon-only" slot="start" name="add"></ion-icon>
      <ion-text>
        tab5
      </ion-text>
    </ion-button>
  </ion-toolbar> -->
</ion-footer>



<!-- <ion-tabs>

  <ion-tab-bar slot="bottom" color="purple">
    <ion-tab-button tab="tab1">
      <ion-icon name="flame"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="custom-tab">
      <ion-icon name="add"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon  name="notifications"></ion-icon>
      <ion-badge>9</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="tab5" class="custom-profile">
      <ion-icon></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs> -->

<!-- 

<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-router-outlet></ion-router-outlet>
    </ion-col>
  </ion-row>
</ion-grid> -->
<!-- 

<nav>
  <a routerLink="info" routerLinkActive="active">Info</a>
  -
  <a [routerLink]="[{ outlets: { warning: ['warning']} }]">Warning</a>
  -
  <a [routerLink]="[{ outlets: { danger: ['danger']} }]">Danger</a>
</nav> -->


<!-- <mat-grid-list cols="3" rowHeight="3:1">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Info Section</mat-card-title>
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Warning Section</mat-card-title>
      <mat-card-content>
        <router-outlet name="warning"></router-outlet>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Danger Section</mat-card-title>
      <mat-card-content>
        <router-outlet name="danger"></router-outlet>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list> -->