<ion-header>
  <ion-toolbar>
    <ion-title>
      Calculator
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)='back()'>
        <ion-icon color='primary' slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class='tips-headers'>
          <ion-item>
            <ion-label for='inputTipsToday'> £ </ion-label>
            <ion-input name='inputTipsToday' type="number" placeholder="How much today?"
              [(ngModel)]='inputTipsToday'></ion-input>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class='card-headers'>
          <ion-item class='name-item'>
            <ion-text color="dark"> Name </ion-text>
          </ion-item>

          <ion-item class='points-item'>
            <ion-text color="dark"> Points </ion-text>
          </ion-item>

          <ion-item class='hours-item'>
            <ion-text color="dark"> Hours </ion-text>
          </ion-item>

          <ion-item class='tips-item'>
            <ion-text color="dark"> Tips Made </ion-text>
          </ion-item>
        </ion-card>
        <ion-card class='waiters-array' *ngFor='let item of globalWaitersArray; let i = index'>
          <ion-item class='name-item ion-text-wrap'>
            <ion-text color="dark"> {{ item.name }} </ion-text>
          </ion-item>
          <ion-item class='points-item ion-text-wrap'>
            <ion-label position='fixed'> {{ item.points }} </ion-label>
          </ion-item>
          <ion-item class='hours-item ion-text-wrap'>
            <ion-label position='fixed'> {{ item.hours }} </ion-label>
          </ion-item>
          <ion-item class='tips-item ion-text-wrap'>
            <ion-label position='fixed'> {{ item.tips_received | number:"1.1-2" }} </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="calculate()" *ngIf='!nextValid' expand="block" fill="solid" color='success' shape="round">
            Calculate
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button (click)="next()" *ngIf='nextValid' expand="block" fill="solid" color='primary'
            shape="round">
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>