ion-content {
  ion-grid {
    ion-row.form-row {
      ion-col.col-name {
        background: red;
      }
      ion-col.col-points {
        background: blue;
      }
      ion-col.col-hours {
        background: yellow;
        margin-top: 2vh;
      }
      ion-col.col-button {
        // background: orange;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      div.waiter-form-colum {
        display: flex;
        width: 97vw;
      }
      ion-list {
        width: 100%;
      }
    }

    ion-row.waiters-array-row {
      div.waiters-container {
        width: 100%;
        background: lightsalmon;
        display: flex;
      }
    }
  }
}
ion-card {
  ion-card-content {
    ion-row {
      width: 100%;
    }
  }
}
.border {
  border: 2px solid black;
  border-radius: 20px;
}

ion-footer {
  background-color: var(--ion-color-tertiary);
  ion-row {
    ion-col {
      ion-button.clear {
        margin-bottom: -1vh;
      }
      ion-button.calculate {
        margin-bottom: 0vh;
      }
    }
  }
}
