<ion-header [translucent]="true">
  <ion-toolbar color='secondary'>
    <ion-title color='dark'>Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='tertiary'>
  <ion-grid>

    <form (ngSubmit)="submitForm()" [formGroup]="myGroup">
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type="text" [(ngModel)]="waiter.name" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Points</ion-label>
        <ion-textarea [(ngModel)]="waiter.points" name="points"></ion-textarea>
      </ion-item>
      <ion-item *ngIf='!resultHours'>
        <ion-button (click)="addHours()" expand="block" fill="clear" shape="round">
          add Hours
        </ion-button>
      </ion-item>
      <ion-item *ngIf='resultHours'>
        <ion-text color="primary" *ngFor='let i of resultHours' [(ngModel)]='waiter.hours' formControlName="hours" [ngModelOptions]="{standalone: true}">
          <span>{{ i.hours.text }} hour </span>
          <span>{{ i.minutes.text }} minutes</span>
        </ion-text>
      </ion-item>
      <ion-button ion-button type="submit" block>Calculate</ion-button>
    </form>


    <!-- <form class="upload-form" [formGroup]="form" (submit)="submitForm()" novalidate>
      <ion-row *ngFor='let w of waiters' class='ion-text-center'>
        <ion-col size="4" formControlName="name"  [(ngModel)]='form.name'>
          {{ w.name }}
        </ion-col>
        <ion-col size="4">
          {{ w.points }}
        </ion-col>
        <ion-col size="4">
          {{ w.hours }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button type='submit' expand="block" fill="clear" shape="round" color='dark'>
            Calculate
          </ion-button>
        </ion-col>
      </ion-row>
    </form> -->
  </ion-grid>
</ion-content>