<ion-header [translucent]="true">
  <ion-toolbar class='ion-text-center'>
    <ion-button (click)="dismiss()" expand="block" fill="clear" shape="round">
      Finished
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-text color="primary">
          <h1>Insert waiter's name</h1>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <form [formGroup]="waiterForm" novalidate>
          <ion-row>
            <ion-col size="12">
              <div formArrayName="waiter">
                <section [formGroupName]="i" *ngFor="let item of formData.controls; let i = index">
                  <ion-item-group>
                    <ion-row class='ion-align-items-center'>
                      <ion-col size='5'>
                        <ion-item class='form-field'>
                          <ion-label position='stacked'>First Name</ion-label>
                          <ion-input type="text" maxlength="50" formControlName="firstName" placehoolder="Last name">
                          </ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col size='5'>
                        <ion-item class='form-field'>
                          <ion-label position='stacked'>Last Name</ion-label>
                          <ion-input type="text" maxlength="50" formControlName="lastName" placehoolder="Last name">
                          </ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col size='2'>
                        <span class='remove-btn' (click)="removeInputField(i)">
                          <ion-icon name="remove-circle"  color="tertiary"></ion-icon>
                        </span>
                      </ion-col>
                    </ion-row>
                  </ion-item-group>
                </section>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button (click)="addNewInputField()" color="tertiary">
                <ion-icon slot="start" name="add-circle"></ion-icon>
                Add waiter
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button (click)='onSubmit()' color="secondary">
                <ion-icon slot="start" name="add-circle"></ion-icon>
                Submit form
              </ion-button>
            </ion-col>
          </ion-row>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>