<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="calculator"></ion-back-button>
    </ion-buttons>
    <ion-title>Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='success'>
  <ion-grid>

    <ion-row class='tips-row ion-text-center' *ngIf='!tipsToday && !tipsToday'>
      <ion-col size="12">
        <ion-card>
          <ion-text color="dark">
            <h1>No content to show</h1>
          </ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class='tips-row ion-text-center' *ngIf='tipsToday'>
      <ion-col size="12">
        <ion-card>
          {{ tipsToday }}
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class='waiters-container-row' *ngIf='waitersList'>
      <div class="header-container  ion-text-center">
        <ion-col size="4">
          <ion-text color="dark">
            Name
          </ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-text color="dark">
            Points
          </ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-text color="dark">
            Hours
          </ion-text>
        </ion-col>
      </div>
      <div class='waiters-container ion-text-center' *ngFor='let waiter of waitersList'>
        <ion-col size="4">
          <ion-text color="dark">
            {{waiter.name}}
          </ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-text color="dark">
            {{waiter.points}}
          </ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-text color="dark">
            {{waiter.hours}}
          </ion-text>
        </ion-col>
      </div>
    </ion-row>
    <ion-row class='results-row' *ngIf='summaryList'>
      <div class="results-header-container  ion-text-center">
        <ion-col size="6">
          <ion-text color="dark">
            Name
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text color="dark">
            Tips share
          </ion-text>
        </ion-col>
      </div>
      <div class='results-waiters-container ion-text-center' *ngFor='let waiter of waitersList'>
        <ion-col size="6">
          <ion-text color="dark">
            {{waiter.name}}
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text color="dark">
            £ {{waiter.points}}
          </ion-text>
        </ion-col>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size='12' class="ion-text-center">
        <ion-button (click)="calculate()" shape="round" expand="full" fill="solid" color="success" size='large'>
          <ion-icon slot="start" name="add-circle"></ion-icon>
          Calculate!
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>