ion-grid {
    ion-row.waiters-container-row {
        ion-col {
            background-color: orange;
        }
        div.header-container {
            display: flex;
            width: 100%;
        }
        div.waiters-container {
            display: flex;
            width: 100%;
        }
    }
    ion-row.results-row {
        position: absolute;
        bottom: 4px;
        width: 97%;
        ion-col {
            background-color: yellow;
        }
        div.results-header-container {
            display: flex;
            width: 100%;
        }
        div.results-waiters-container {
            display: flex;
            width: 100%;
        }
    }
}
