<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="date"></ion-back-button>
    </ion-buttons>
    <ion-title>waiters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row class='ion-text-center form-row'>
      <form class="waiters-form" [formGroup]="waitersForm" novalidate>
        <div>
          <ion-col size="12" class='waiter-form-colum'>
            <ion-list>
              
              <ion-item-group formArrayName="waiterList">
                <ion-item-divider>
                  <ion-label>
                    <h3>Waiter's Card</h3>
                  </ion-label>
                </ion-item-divider>


                <ion-item-sliding [formGroupName]="i" *ngFor="let item of formData.controls; let i = index">
                  <ion-item-options side="end">
                    <ion-item-option color="danger" expandable (click)="removeWaiterField(i)">
                      Remove
                    </ion-item-option>
                  </ion-item-options>

                  <ion-item>
                    <ion-row class='border'>
                      <ion-col size="8">
                        <ion-label color='dark' position='stacked'>Name</ion-label>
                        <ion-input class='border' type="text" maxlength="50" formControlName="name"></ion-input>
                      </ion-col>
                      <ion-col size="4">
                        <ion-select class='border' formControlName="points" interface="alert" multiple="true" placeholder="Select One">
                          <ion-select-option *ngFor="let p of pointsDataInit" [value]="p.points">{{ p.criteria }}</ion-select-option>
                        </ion-select>
                      </ion-col>
                    </ion-row>
                  </ion-item>

                </ion-item-sliding>
              </ion-item-group>
            </ion-list>

          </ion-col>
        </div>
      </form>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-row class='footer-row'>
    <ion-col size="12" class='footer ion-text-center'>
      <ion-button (click)="addNewWaiterField()" shape="round" expand="full" fill="solid" color="success" size='small'>
        <ion-icon slot="start" name="add-circle"></ion-icon>
        Add waiter
      </ion-button>
      <ion-button expand="block" fill="solid" shape="round" (click)='clearForm()'>
        Clear Form
      </ion-button>
      <ion-button expand="block" fill="solid" shape="round" (click)='submitWaiters()'>
        Submit Date
      </ion-button>
      <ion-button expand="block" fill="solid" shape="round" (click)='goAddHoursWaiters()'>
        Go Add Hours to the Waiters
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>