<ion-content color='dark'>
  <ion-grid>
    <ion-slides #slides [pager]="true" [options]="slideOpts">

      <!-- <ion-slide class='slide-date'>
        <ion-row>
          <form [formGroup]="dateForm" novalidate>
            <ion-col size="12" *ngIf='date'>
              <img src="assets/logo.svg" class="slide-image" />
              <ion-item>
                <ion-label>Your date is:</ion-label>
                {{ date }}
              </ion-item>
              <ion-button [disabled]='fromDate' (click)="submitDate()" expand="block" fill="outline" shape="round">
                Submit Date
              </ion-button>
            </ion-col>
            <ion-col size="12" *ngIf='!date && !fromDate'>
              <img src="assets/logo.svg" class="slide-image" />
              <ion-item>
                <ion-label>Pick your date</ion-label>
                <ion-datetime formControlName="date" [pickerOptions]="customPickerOptions" displayFormat="MM-DD-YYYY"
                  min="2019" max="2022">
                </ion-datetime>
              </ion-item>
            </ion-col>
          </form>
        </ion-row>
      </ion-slide> -->

      <ion-slide class='slide-waiters'>
        <form class="waiters-form" [formGroup]="waitersForm" novalidate>
          <ion-row class='ion-text-center form-row' formArrayName="waiters">
            <ion-col size='12' class="ion-text-center">
              <ion-button (click)="addNewWaiters()" shape="round" expand="full" fill="solid" color="success"
                size='small'>
                <ion-icon slot="start" name="add-circle"></ion-icon>
                Add waiter
              </ion-button>
            </ion-col>
            <ion-col size="12" [formGroupName]="i" *ngFor="let item of formWaitersData.controls; let i = index"
              class='waiter-form-colum'>
              <ion-card>
                <ion-card-header>
                  <ion-toolbar>
                    <ion-button class='remove-btn' shape="round" expand="full" fill="solid" color="danger" size='small'
                      (click)="removeWaiters(i)">
                      <ion-icon color='light' name="remove-circle"></ion-icon>
                    </ion-button>
                  </ion-toolbar>
                  <ion-card-subtitle>Waiter's Card</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>

                  <div>
                    <ion-label color='dark' position='stacked'>Fitst Name</ion-label>
                    <ion-input class='border' type="text" maxlength="50" formControlName="first_name"></ion-input>
                  </div>

                  <div>
                    <ion-label color='dark' position='stacked'>Last Name</ion-label>
                    <ion-input class='border' type="text" maxlength="50" formControlName="last_name"></ion-input>
                  </div>

                  <ionic-selectable class='border' formControlName="points" [isMultiple]="true" [items]="pointsData"
                    itemTextField="criteria" [canSearch]="false">
                  </ionic-selectable>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="12">
              <ion-button (click)="submitWaiters()" expand="block" fill="outline" shape="round">
                Submit Date
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-slide>


      <ion-slide class='slide-hours'>
        <ion-row>
          <ion-col size="12">
            <img src="assets/logo.svg" class="slide-image" />
            <h2 class="slide-title">Ready to Play?</h2>
            <ion-button fill="clear" (click)="startApp()">
              Continue
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-slide>

    </ion-slides>


  </ion-grid>
</ion-content>