.swiper-slide {
  display: block;
}
.slide-image {
  max-height: 50%;
  max-width: 60%;
  margin: 36px 0;
  pointer-events: none;
}
ion-slides {
  ion-slide {
    height: 95vh;
    form {
      overflow: scroll;
    }
  }
  ion-slide.slide-date {
    background-color: blue;
  }
  ion-slide.slide-waiters {
    background-color: orange;
    ion-row.form-row {
      height: 95vh;
      ion-row.form-row {
        width: 100vw;
      }
    }
  }
}
.border {
  border: 1px solid black;
}
