<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar color='primary'>
      <ion-button (click)="navigate('tab1')">
        <ion-icon slot="icon-only" name="add"></ion-icon>
        tab1
      </ion-button>
      <ion-button (click)="navigate('tab2')">
        <ion-icon slot="start" name="add"></ion-icon>
        tab2
      </ion-button>
      <ion-button (click)="navigate('tab3')">
        <ion-icon slot="start" name="add"></ion-icon>
        tab3
      </ion-button>
      <ion-button (click)="navigate('tab4')">
        <ion-icon slot="start" name="add"></ion-icon>
        tab4
      </ion-button>
      <ion-button (click)="navigate('tab5')">
        <ion-icon slot="icon-only" slot="start" name="add"></ion-icon>
        tab5
      </ion-button>
  </ion-toolbar>
</ion-footer> -->