.border {
  border: 1px solid black;
}
.colorGreen{
  background-color: green;
}
.blue{
  background-color: blue;
  height: 100px;
}
ion-row.totals-col {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 20%;
}
.form-field{
  float: left;
}
ion-row.calculate-col {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10%;
}

ion-row.submit-row {
  position: absolute;
  bottom: 0;
  width: 100%;
}
