ion-row.totals-col {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 20%;
}
ion-row.calculate-col {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 10%;
  }